header{
    text-align: center;
}



#introduction .image.left img{
    height: 450px;
}

#introduction .image.fit img{
    height: 350px;
}

#introduction .image.fit p{
    font-weight: lighter;
    font-size: small;
    text-align: center;
}

#methods .image.fit img{
    height: 400px;
}

#methods .image.fit.pdqn img{
    height: 380px;
    width: 80%;
}

#methods .image.fit.pdqn p{
    font-weight: lighter;
    font-size: small;
    text-align: center;
}

#methods .image.fit.td img{
    height: 100px;
    width: 80%;
}

#methods .image.fit.td p{
    font-weight: lighter;
    font-size: small;
    text-align: center;
}

#diagrams .image.detailed img{
    width: 80%;
    height: 100%;
}

#diagrams .image.high img{
    width: 80%;
    height: 100%;
}